.premium-para {
  color: #181818;
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 500;
}

.search-home-list-container {
  width: 100%;
  border: 1px solid #64748b;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-home-list {
  padding: 5px;
  border: none;
}

.search-icon-btn {
  background-color: #ebebeb;
  padding: 8px;
  border-left: 1px solid #94a3b8;
  border-right: none;
  border-top: none;
  border-bottom: none;
  width: 12%;
  cursor: pointer;
}

.premium-success-view-container {
  overflow-x: scroll;
}

.video-unordered-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-left: 0px;
}

.view-of-home-page-container {
  display: flex;
}

.premium-logo-and-close-logo-container {
  display: flex;
  justify-content: space-between;
}

.premium-img {
  background-image: url('https://assets.ccbp.in/frontend/react-js/nxt-watch-banner-bg.png');
  background-size: cover;
  height: 200px;
  padding: 20px;
}

.premium-content {
  width: 90%;
}

.get-it-now-btn {
  background-color: transparent;
  color: #181818;
  padding: 10px;
  border: 1px solid #181818;
}

.close-btn {
  cursor: pointer;
  background-color: transparent;
  border: none;
  border-radius: 50px;
}

.home-logo {
  height: 25px;
  width: 100px;
}
