.contact-para {
  font-family: 'Roboto';
  color: #181818;
  font-size: 12px;
}

.item-link {
  text-decoration: none;
}

.left-list-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
  min-width: 15%;
}

.home-txt {
  font-family: 'Roboto';
  color: #181818;
  font-size: 15px;
  margin-left: 10px;
}

.types-of-list-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

li {
  list-style-type: none;
}

.home-type-videos {
  display: flex;
  align-items: center;
  margin-left: 0px;
}

.react-icon {
  text-decoration: none;
}

.contact-logo-container {
  display: flex;
}

.facebook-logo {
  height: 25px;
  width: 25px;
  margin-right: 10px;
}

.contact-txt {
  font-family: 'Roboto';
  color: #181818;
  font-size: 15px;
}
